.projects-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
    box-shadow: 0 1px 8px rgba(114, 111, 111, 0.25);
}

.projects-card span
{
    color: rgb(247, 233, 159);
    font-weight: bold;
    font-size: 1.2em;
    align-self: center;
}

.projects {
    flex-grow: 1;
    display: flex;
    justify-content:stretch;
    flex-wrap: wrap;
    gap: 1em;
}

.projects a {
    flex-grow: 1;
    display: flex;
}

.projects-link-card {
    background-color:white;
    width: 5.4rem;
    height: 113px;
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.projects-link-card img {
    width: 36px;
    height: auto;
}

.projects-link-card:hover {
    background-color: grey;
}

.projects-link-card:active {
    background-color: rgb(82, 79, 79);
}