.contacts-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
    box-shadow: 0 1px 8px rgba(114, 111, 111, 0.25);
}

.contacts-card span
{
    color: rgb(231, 191, 88);
    font-weight: bold;
    font-size: 1.2em;
    align-self: center;
}

.contacts {
    flex-grow: 1;
    display: flex;
    justify-content:stretch;
    flex-wrap: wrap;
    gap: 1em;
}

.contacts span {
    color: rgb(49, 45, 45); 
}

.contacts a {
    flex-grow: 1;
    display: flex;
}

.contacts-link-card {
    background-color:white;
    width: 5.4rem;
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contacts-link-card img {
    width: 36px;
    height: auto;
}

.contacts-link-card:hover {
    background-color: grey;
}

.contacts-link-card:active {
    background-color: rgb(82, 79, 79);
}

@media screen and (max-width:310px) {
    .contacts-card span {
        font-size: 1rem;
    }
}