.container {
    width: 40em;
    height: max-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tech-stack {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.tech-stack img {
    padding: 10px;
    width: 3.5rem;
    height: 56px;
}

.tech-stack span {
    color: rgb(49, 45, 45);
    font-weight: bold;
}

.contact-and-project {
    height: 100%;
    display: flex;
}