@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.head-button {
    border: none;
    background: transparent;
    width: 156px;
    cursor: pointer;
}

.head {
    padding: 0.5em;
    display:flex;
}

.title {
    font-family: "Barlow Condensed", sans-serif;
    padding: 0.5em;
    width: 100%;
    margin: auto;
    box-shadow: 0 1px 8px rgba(114, 111, 111, 0.25);
}

.title span {
    display: block;
    text-align: center;
}

.title span:last-child {
    font-size: 16px;
}

.title-name {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(201, 125, 125);
    padding: 10px 5px;
}

.title-role {
    font-size: 1.5rem;
    padding: 10px;
}