.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    font-family: sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    overflow: hidden;
    border-radius: 10px;
}

.modal-header p{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(201, 125, 125);
}

.modal-message p {
    font-size: 1.1em;
    color: rgb(230, 230, 230);
    word-spacing: 0.5px;
}

.modal-extra-content {
    display: flex;
    flex-direction: column;
}

.modal-extra-content a {
    margin-top: 10px;
    align-self: center;
    border-radius: 5px;
    background-color: cornsilk;
    color: brown;
    padding: 5px;
}

.modal-extra-content a:hover {
    background-color: rgb(247, 231, 167);
}

.modal-extra-content a:active {
    background-color: cornsilk;
}