.footer {
    width: 30em;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em;
}

.link {
    text-align: center;
    width: 50%;
}

.link-title {
    width: 100%;
    flex-grow: 1;
}