html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  color: azure;
}

a {
  text-decoration: none;
  color: white;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #c2b6b6 0%, #576574 74%);
}